.time__global span {
    text-transform: capitalize;
}

.page__post .new .new__title a {
    text-decoration: none;
    color: #037f8c;
}

.page__cells .module-page__cells .module__content .tab-container .tab-content .tab-item .executive__box .executive__content p+p {
    margin-top: 0;
}

.fr-error {
    color: red;
}

.banner__title {
    text-transform: uppercase;
}

.detail__title {
    text-transform: uppercase;
}

.page__contact .module .module__content .button {
    position: relative;
    display: inline-block;
    width: 100%;
}

.page__contact .module .module__content .click-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: #037f8c;
    border-radius: 20px;
}

.page__contact .module .module__content .click-btn img {
    width: 35px;
    height: 35px;
}

.page__contact .module .module__content .click-btn.acc {
    opacity: 1;
    visibility: initial;
}

.cells__title, .table__title {
    text-transform: uppercase;
}

.home__new .module .module__content .new__content .new__title {
    text-transform: uppercase;
}

@media (max-width: 767.98px) { 
    .page__contact .module .module__content .click-btn {
        width: 100%;
        height: 40px;
    }
}

@media (min-width: 767.98px) { 
    .page__contact .module .module__content .click-btn {
        width: 44%;
    }
}

@media (min-width: 1023.98px) { 
    .page__contact .module .module__content .click-btn {
        width: 32%;
    }
}

@media (min-width: 1299.98px) { 
    .page__contact .module .module__content .click-btn {
        width: 23%;
    }
}

.captcha {
    display: flex;
}

.captcha img {
    height: 50px;
}

.captcha button {
    background-color: #037f8c;
    width: 30px;
    height: 25px;
    margin-left: 10px;
    padding: 7px 10px;
}